.intro {
    width: 50%;
    margin: 0 auto;
}

.intro p {
    line-height: 1.5;
    font-size: 1.5rem;
}

.intro p:last-child {
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 100px;
}

/* SIDE BY SIDE */
.scrolly_side {
    position: relative;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
}

.scrolly_side>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.figure_sideBySide {
    position: -webkit-sticky;
    position: sticky;
    max-width: 70%;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-right: 0;
}

.img_sideBySide {
    opacity: 0;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img_sideBySide:first-of-type {
    opacity: 1;
    z-index: -2;
}

.step_sideBySide {
    position: relative;
    max-width: 30%;
}

.step {
    border: 2px solid #eee;
    background-color: white;
    color: #111;
    padding: 5%;
    margin: 80% 0 150% 0;
}

.step:first-child {
    margin-top: 200%
}

.step:last-child {
    margin-bottom: 200%;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}



/* OVERLAY */
.scrolly_overlay {
    position: relative;
    background-color: #f3f3f3;
}

.scrolly_overlay>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.figure_overlay {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #5e5e5e;
    z-index: 0;
}

.img_overlay {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: .5s;
    object-fit: cover;
}

.img_overlay:first-of-type {
    opacity: 1;
    z-index: -2;
}

.step_overlay {
    position: relative;
    padding: 0;
    max-width: 40rem;
    margin: 0 auto;
    z-index: 1000;
}

.step_center {
    border: 2px solid #eee;
    background-color: white;
    color: #111;
    padding: 5%;
    margin: 150% 0 100% 0;
}

.step_center:first-child {
    margin-top: 0%
}

.step_center:last-child {
    margin-bottom: 10%;
}

.step_center p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.step_center.last {
    margin-top: 150%;
    padding: 0;
    opacity: 0;
}


.smooth {
    transition: 0.5s;
}



/* IMAGES ACTIVE (don't change) */
.active {
    opacity: 1;
    z-index: 100;
}

/* MOBILE VIEW */
@media (max-width: 1200px) {

    .figure_overlay,
    .figure_sideBySide {
        width: 100%;
        height: 100%;
    }

    .img_overlay {
        object-fit: cover;
    }

    .scrolly_side {
        position: relative;
        background-color: #f3f3f3;
    }

    .scrolly_side>* {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .figure_sideBySide {
        position: -webkit-sticky;
        position: sticky;
        min-width: 100%;
        margin: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background-color: #5e5e5e;
        z-index: 0;
    }

    .img_sideBySide {
        display: block;
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    .img_sideBySide:first-of-type {
        opacity: 1;
        z-index: -2;
    }

    .step_sideBySide {
        position: relative;
        padding: 0;
        max-width: 40rem;
        min-width: 15rem;
        margin: 0 auto;
        z-index: 1000;
    }


    .step p {
        text-align: center;
        padding: .7rem;
        font-size: 1rem;
    }


}